*{
    margin: 0px;
    padding: 0px;
}

.heading{
    background-color: purple;
    text-align: center;
    padding: 10px;
    color: aliceblue;

}

.card{
   background-color: hsl(44, 98%, 49%);
    box-shadow: 2px 4px 4px black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 390px;
    display: inline-block;

}

.cardTitile{

    text-align: center;
    padding-bottom: 5px;
}
.cardDes{
    text-align: center;
    margin: 5px;
}

.cardYear{
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}
